{% load static %}
<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>صفحه یافت نشد!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="JoashPereira">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>

<body>
    <div class="kenburns"></div>
    <div class="centered">
        <div class="item-title">
            <div id="message">
                404 <br/>
                <span>!صفحه یافت نشد</span>
            </div>
        </div>
    </div>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
    </body>

</html>