{% load static %}
<!doctype html>
<html class="no-js" lang="fa" dir="rtl">

<head>

  <meta charset="UTF-8">
  <meta name="description"
    content="The latest international news from Frivizn, featuring top stories from around the world and breaking news, as it happens.">
  <meta name="author" content="dukibu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>خبر | سوادکوه نیوز</title>

  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Open+Sans&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body class="body_color">

  <div class="content-wrap main_color">

    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

     <!-- Header -->
     <header role="banner">

      <section class="nav-section content_color1">

        <!-- Logo -->
        <div class="logo">
          <a href="index.html" title="Frivizn logo">سوادکوه نیوز</a>
        </div>

        <div id="DL_mode" class="bg_white">
          <div id="DL_btn" class="bg_black">
              <img id="DL_status" src="images/light.png" alt="">
          </div>
        </div>

        <!-- Navigation -->
        <nav class="nav-menu" role="navigation">
          <ul class="nav-links">
            <li><a href="index.html" title="Home">خانه</a></li>
            <li><a href="article.html" title="World">بین الملل</a>
            <li><a href="#politics.html" title="Politics">سیاست</a></li>
            <li><a href="#business.html" title="Business">اقتصاد</a></li>
            <li><a href="#sport.html" title="Sport">ورزش</a></li>
            <li><a href="#entertainment.html" title="Entertainment">محلی</a></li>
            <li>
              <a href="#more" title="More">بیشتر...<span class="dropdown-toggle" aria-expanded="false"></span>
                <span class="screen-reader-text">Expand child menu</span></a>
              <ul class="sub-menu">
                <li><a href="#" title="Science">پژوهش</a></li>
                <li><a href="#" title="Travel">گردشگری</a></li>
                <li><a href="#" title="Health">سلامت</a></li>
                <li><a href="#" title="Style">استایل</a></li>
                <li><a href="#" title="Weather">آب و هوا</a></li>
                <li><a href="#" title="Video">گالری</a></li>
              </ul>
            </li>
          </ul>
          <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
          </div>
        </nav>
      </section> <!-- end of class="nav-section"-->

    </header>

    <!-- Main -->
    <main class="main-article" role="main">

      <article class="article">

        <h2 class="color_b">لورم ایپسوم متن ساختگی نامفهوم با استفاده از طراحان گرافیک است.
        </h2>
        <p class="color_b"><small>چهارشنبه, ۲۹ آبان, ۵:۳۹</small><br> نوشته آقای عربی</p>

        <div class="headline"></div>

        <p class="intro-text color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>

        <figure>
          <img src="images/world5.jpg" alt="Bridge night image">
          <figcaption  class="color_b">نمایی دیدنی از پل صدر</figcaption>
        </figure>

        <p class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>

        <figure>
          <img src="images/world10.jpg" alt="Bridge night image">
          <figcaption class="color_b">فلکه دوم نیروی هوایی</figcaption>
        </figure>

        <p class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

        <!-- Comments -->
        <div class="comments">

          <p class="color_b"><a href="#">نظرها</a></p>
          <h4 class="color_b">تازه ترین نظرها</h4>
          
          <p class="comment-name color_b">عرفان۱۳۸۶</p>
          <div class="comment-text">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            <p><small>پاسخ(۱)</small></p>
          </div>

          <p class="comment-name color_b">عمر۱۱۱</p>
          <div class="comment-text">
            <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف.</p>
            <p><small>پاسخ(۳)</small></p>
          </div>

        </div> <!-- End of class="comments" -->


        <!-- Comment Form -->
        <h3 class="color_b">درج نظر</h3>

        <div class="form-container">
          <form action="index.php">
            <label for="name">نام</label>
            <input type="text" id="name" name="name" placeholder="نام شما...">

            <label for="comment">نظر</label>
            <textarea id="comment" name="comment" placeholder="نظر شما..." style="height:200px"></textarea>

            <input type="submit" value="انتشار نظر">
          </form>
        </div> <!-- End of  class="form-container" -->

      </article> <!-- End of  class="article" -->

      <!-- Sidebar -->
      <aside class="sidebar" role="complementary">
        <h2 class="content_color2">پر بازدید ترین ها</h2>
        <a href="#">
          <div class="sidebar-headline">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
            <p class="exact-time color_b">13:53</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
            <p class="exact-time color_b">13:53</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
            <p class="exact-time color_b">13:53</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
            <p class="exact-time color_b">13:53</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی</h3>
            <p class="exact-time color_b">13:53</p>
          </div>
        </a>

        <h2 class="content_color2">نظرات برتر</h2>
        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h3>
            <p class="exact-time color_b">۱</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h3>
            <p class="exact-time color_b">۲</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h3>
            <p class="exact-time color_b">۳</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h3>
            <p class="exact-time color_b">۴</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h3>
            <p class="exact-time color_b">۵</p>
          </div>
        </a>
      </aside> <!-- End of  class="sidebar" -->

    </main> <!-- End of  class="main-article" -->

     <!-- Footer Links -->
     <div class="footer-links content_color1">

      <ul class="social-media-links">
        <li><a href="http://twitter.com"><span class="screen-reader-text">توییتر</span></a></li>
        <li><a href="http://facebook.com"><span class="screen-reader-text">فیسبوک</span></a></li>
        <li><a href="http://linkedin.com"><span class="screen-reader-text">لینکداین</span></a></li>
        <li><a href="http://youtube.com"><span class="screen-reader-text">یوتیوب</span></a></li>
        <li><a href="http://instagram.com"><span class="screen-reader-text">اینستاگرام</span></a></li>
      </ul>

      <ul class="main-footer-links">
        <li><a href="#world" title="World">بین الملل</a>
        <li><a href="#politics" title="Politics">سیاست</a></li>
        <li><a href="#business" title="Business">اقتصاد</a></li>
        <li><a href="#sport" title="Sport">ورزش</a></li>
        <li><a href="#entertainment" title="Entertainment">محلی</a></li>
        <li><a href="#science" title="Science">پژوهش</a></li>
        <li><a href="#travel" title="Travel">گردشگری</a></li>
        <li><a href="#health" title="Health">سلامت</a></li>
        <li><a href="#style" title="Style">استایل</a></li>
        <li><a href="#weather" title="Weather">آب و هوا</a></li>
        <li><a href="#video" title="Video">گالری</a></li>
      </ul>

      <ul class="info-links">
        <li><a href="#terms-of-use" title="Terms of Use">همکاری</a></li>
        <li><a href="#privacy-policy" title="Privacy Policy">سیاست های حریم خصوصی</a></li>
        <li><a href="#about-us" title="About Us">درباره ما</a></li>
        <li><a href="#advertising" title="Advertising">تبلیغات</a></li>
      </ul>

      <ul class="our-address">
        <li>آدرس ما</li>
        <li>سوادکوه، زیرآب</li>
        <li>امامزاده عبدالحق، پلاک ۱</li>
        <li>۱۲۳-۴۵۶-۷۸۹</li>
      </ul>

    </div> <!-- End of class="footer-links" -->

    <!-- Footer Credit -->
    <footer class="content_color2" role="contentinfo">
      <p class="content_color2">2024 &copy; by Sajad & Abolfazl</p>
      <a class="scroll-top" href="#top"></a>
    </footer>

  </div> <!-- end of class="content-wrap" -->

  <!-- <script src="js/modernizr.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>

</body>
</html>