{% load static %}
<!doctype html>
<html class="no-js" lang="fa" dir="rtl">

<head>

  <meta charset="UTF-8">
  <meta name="description"
    content="The latest international news from Frivizn, featuring top stories from around the world and breaking news, as it happens.">
  <meta name="author" content="dukibu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>خانه | سوادکوه نیوز</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Open+Sans&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body id="top" class="body_color">

  <div class="content-wrap main_color">


    <!-- Header -->
    <header role="banner">

      <section class="nav-section content_color1">

        <!-- Logo -->
        <div class="logo">
          <a href="{% url 'home_page' %}" title="Frivizn logo">سوادکوه نیوز</a>
        </div>

        <div id="DL_mode" class="bg_white">
          <div id="DL_btn" class="bg_black">
              <img id="DL_status" src="{% static 'images/light.png' %}" alt="">
          </div>
        </div>


        <!-- Navigation -->
        <nav class="nav-menu" role="navigation">
          <ul class="nav-links">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'logout_page' %}" title="logout">خروج</a></li>
            {% else %}
              <li><a href="{% url 'register_page' %}" title="register">ورود / ثبت نام</a></li>
            {% endif %}
            <li><a href="{% url 'world-page' %}" title="Business">بین الملل</a></li>
            <li><a href="{% url 'politics-page' %}" title="Politics">سیاست</a></li>
            <li><a href="{% url 'economy-page' %}" title="Business">اقتصاد</a></li>
            <li><a href="{% url 'sport-page' %}" title="Sport">ورزش</a></li>
            <li><a href="{% url 'local-page' %}" title="Entertainment">محلی</a></li>
            <li>
              <a href="#more" title="More">بیشتر...<span class="dropdown-toggle" aria-expanded="false"></span>
                <span class="screen-reader-text">Expand child menu</span></a>
              <ul class="sub-menu">
                <li><a href="{% url 'science-page' %}" title="Science">پژوهش</a></li>
                <li><a href="{% url 'travel-page' %}" title="Travel">گردشگری</a></li>
                <li><a href="{% url 'health-page' %}" title="Health">سلامت</a></li>
                <li><a href="{% url 'style-page' %}" title="Style">استایل</a></li>
                <li><a href="{% url 'weather-page' %}" title="Weather">آب و هوا</a></li>
                <li><a href="{% url 'gallery-page' %}" title="Video">گالری</a></li>
              </ul>
            </li>
          </ul>
          <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
          </div>
        </nav>
      </section> <!-- end of class="nav-section"-->

      <!-- <section class="user-section content_color1">
        <button class="reg">ورود / ثبت نام</button>
        <button class="exit">خروج</button>
      </section> -->

    </header>

    <!-- Main -->
    <main class="main" role="main">

      <div class="top-news">

        <section class="latest-news">
          <div class="headline">
            <img src="{% static 'images/sport7.jpg' %}" alt="">
            <p>خبر فوری</p>
            {% for new in news.urgent1 %}
              <a class="body_color" href="{% url 'article-detail' pk=new.id  %}">
                <h1 class="color_b">{{ new.title }}</h1>
              </a>
            {% endfor %}
          </div>
        </section> <!-- End of class="latest-news" -->

        <section class="top-stories">
          <h2 class="content_color2">داغ ترین ها</h2>

          <div class="headline body_color">
            <img src="{% static 'images/world10.jpg' %}" alt="">
            {% for new in news.urgent2 %}
            <a href="{% url 'article-detail' pk=new.id  %}">
              <h1 class="color_b">{{ new.title }}</h1>
            </a>
            {% endfor %}
          </div>

          <div class="headline body_color">
            <img src="{% static 'images/world10.jpg' %}" alt="">
            {% for new in news.urgent3 %}
            <a href="{% url 'article-detail' pk=new.id  %}">
              <h1 class="color_b">{{ new.title }}</h1>
            </a>
            {% endfor %}
          </div>

          <div class="headline body_color">
            <img src="{% static 'images/world10.jpg' %}" alt="">
            {% for new in news.urgent4 %}
            <a href="{% url 'article-detail' pk=new.id  %}">
              <h1 class="color_b">{{ new.title }}</h1>
            </a>
            {% endfor %}
          </div>
        </section> <!-- End of class="top-stories" -->

      </div> <!-- End of class="top-news" -->

      <section class="world">
        <h2 class="content_color2">بین الملل<a href="{% url 'world-page' %}">بیشتر ...</a></h2>

        {% for new in news.world %}
          <div class="story">
            <a href="{% url 'article-detail' pk=new.id  %}">
              <div class="story-img">
                <img src="{{ new.cover_image.url }}" alt="Protesters">
              </div>
              <div class="story-headline">
                <h3 class="color_b">{{ new.title }}</h3>
                <p class="exact-time color_b">{{ new.created_at }}</p>
              </div>
            </a>
          </div>
        {% endfor %}

      </section> <!-- End of class="world" -->

      <section class="politics">
        <h2 class="content_color2">سیاست<a href="{% url 'politics-page' %}">بیشتر ...</a></h2>

        {% for new in news.politics %}
          <div class="story">
            <a href="{% url 'article-detail' pk=new.id  %}">
              <div class="story-img">
                <img src="{{ new.cover_image.url }}" alt="Protesters">
              </div>
              <div class="story-headline">
                <h3 class="color_b">{{ new.title }}</h3>
                <p class="exact-time color_b">{{ new.created_at }}</p>
              </div>
            </a>
          </div>
        {% endfor %}

      </section> <!-- End of class="politics" -->

      <section class="business">
        <h2 class="content_color2">اقتصاد<a href="{% url 'economy-page' %}">بیشتر ...</a></h2>
        
        {% for new in news.economy %}
        <div class="story">
            <a href="{% url 'article-detail' pk=new.id  %}">
              <div class="story-img">
                <img src="{{ new.cover_image.url }}" alt="Protesters">
              </div>
              <div class="story-headline">
                <h3 class="color_b">{{ new.title }}</h3>
                <p class="exact-time color_b">{{ new.created_at }}</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </section> <!-- End of class="business" -->

      <section class="sport">
        <h2 class="content_color2">ورزش<a href="{% url 'sport-page' %}">بیشتر ...</a></h2>

      {% for new in news.sport %}
        <div class="story">
          <a href="{% url 'article-detail' pk=new.id  %}">
            <div class="story-img">
              <img src="{{ new.cover_image.url }}" alt="Protesters">
            </div>
            <div class="story-headline">
              <h3 class="color_b">{{ new.title }}</h3>
              <p class="exact-time color_b">{{ new.created_at }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
      </section> <!-- End of class="sport" -->

      <section class="entertainment">
        <h2 class="content_color2">محلی<a href="{% url 'local-page' %}">بیشتر ...</a></h2>

        {% for new in news.local %}
          <div class="story">
            <a href="{% url 'article-detail' pk=new.id  %}">
              <div class="story-img">
                <img src="{{ new.cover_image.url }}" alt="Protesters">
              </div>
              <div class="story-headline">
                <h3 class="color_b">{{ new.title }}</h3>
                <p class="exact-time color_b">{{ new.created_at }}</p>
              </div>
            </a>
          </div>
        {% endfor %}

      </section> <!-- End of class="entertainment" -->

    </main> <!-- End of class="main" -->


    <!-- Footer Links -->
    <div class="footer-links content_color1">

      <ul class="social-media-links" style="align-items: center;">
        <li><a href="http://twitter.com"><img src="{% static 'images/twitter.png' %}" alt=""><span class="screen-reader-text">توییتر</span></a></li>
         <li><a href="http://facebook.com"><img src="{% static 'images/facebook.png' %}" alt=""><span class="screen-reader-text">فیسبوک</span></a></li>
        <li><a href="http://linkedin.com"><img src="{% static 'images/linkedin.png' %}" alt=""><span class="screen-reader-text">لینکداین</span></a></li>
        <li><a href="http://youtube.com"><img src="{% static 'images/youtube.png' %}" alt=""><span class="screen-reader-text">یوتیوب</span></a></li>
        <li><a href="http://instagram.com"><img src="{% static 'images/instagram.png' %}" alt=""><span class="screen-reader-text">اینستاگرام</span></a></li>
      </ul>

      <ul class="main-footer-links">
        <li><a href="{% url 'world-page' %}" title="world">بین الملل</a></li>
        <li><a href="{% url 'politics-page' %}" title="Politics">سیاست</a></li>
        <li><a href="{% url 'economy-page' %}" title="Business">اقتصاد</a></li>
        <li><a href="{% url 'sport-page' %}" title="Sport">ورزش</a></li>
        <li><a href="{% url 'local-page' %}" title="Entertainment">محلی</a></li>
        <li><a href="{% url 'science-page' %}" title="Science">پژوهش</a></li>
        <li><a href="{% url 'travel-page' %}" title="Travel">گردشگری</a></li>
        <li><a href="{% url 'health-page' %}" title="Health">سلامت</a></li>
        <li><a href="{% url 'style-page' %}" title="Style">استایل</a></li>
        <li><a href="{% url 'weather-page' %}" title="Weather">آب و هوا</a></li>
        <li><a href="{% url 'gallery-page' %}" title="Video">گالری</a></li>
      </ul>

      <ul class="info-links">
        <li><a href="{% url 'about_page' %}" title="About Us">درباره ما</a></li>
      </ul>

      <ul class="our-address">
        <li>آدرس ما</li>
        <li>سوادکوه، زیرآب</li>
        <li>امامزاده عبدالحق، پلاک ۱</li>
        <li>۱۲۳-۴۵۶-۷۸۹</li>
      </ul>

    </div> <!-- End of class="footer-links" -->

    <!-- Footer Credit -->
    <footer class="content_color2" role="contentinfo">
      <p class="content_color2">2024 &copy;تمامی حقوق برای خبرگذاری مستقل عصرسوادکوه محفوظ است</p>
      <a class="scroll-top" href="#top"></a>
    </footer>

  </div> <!-- end of class="content-wrap" -->

  <!-- <script src="js/modernizr.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>

</body>
</html>