{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بین الملل</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body id="top" class="body_color">
    <div class="content-wrap main_color">
    
        <!-- Header -->
        <header role="banner">
    
          <section class="nav-section content_color1">
    
            <!-- Logo -->
            <div class="logo">
              <a href="index.html" title="Frivizn logo">بین الملل</a>
            </div>
    
            <div id="DL_mode" class="bg_white">
              <div id="DL_btn" class="bg_black">
                  <img id="DL_status" src="{% static 'images/light.png' %}" alt="">
              </div>
            </div>
            <!-- Navigation -->
            <nav class="nav-menu" role="navigation">
              <ul class="nav-links">
                <li><a href="http://127.0.0.1:8000/" title="Home">خانه</a></li>
                <li><a href="#politics.html" title="Politics">سیاست</a></li>
                <li><a href="#business.html" title="Business">اقتصاد</a></li>
                <li><a href="#sport.html" title="Sport">ورزش</a></li>
                <li><a href="#entertainment.html" title="Entertainment">محلی</a></li>
                <li>
                  <a href="#more" title="More">بیشتر...<span class="dropdown-toggle" aria-expanded="false"></span>
                    <span class="screen-reader-text">Expand child menu</span></a>
                  <ul class="sub-menu">
                    <li><a href="#" title="Science">پژوهش</a></li>
                    <li><a href="#" title="Travel">گردشگری</a></li>
                    <li><a href="#" title="Health">سلامت</a></li>
                    <li><a href="#" title="Style">استایل</a></li>
                    <li><a href="#" title="Weather">آب و هوا</a></li>
                    <li><a href="#" title="Video">گالری</a></li>
                  </ul>
                </li>
              </ul>
              <div class="burger">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
              </div>
            </nav>
          </section> <!-- end of class="nav-section"-->
    
        </header>
    
        <!-- Main -->
        <main class="main" role="main">
    

          <section class="slider slider1">
            <div class="main_container">
                <div class="slide_container" id="slide_container1">
                    <div id="slides">

                      <a href="">
                        <div class="slide" id="slide11">
                            <img src="{% static 'images/sport2.jpg' %}">
                            <div class="news_details">
                              <h3>عنوان خبر</h3>
                              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                      </a>

                      <a href="">
                        <div class="slide" id="slide12">
                            <img src="{% static 'images/entertainment10.jpg' %}">
                            <div class="news_details">
                              <h3>عنوان خبر</h3>
                              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                      </a>

                      <a href="">
                        <div class="slide" id="slide13">
                            <img src="{% static 'images/politics5.jpg' %}">
                            <div class="news_details">
                              <h3>عنوان خبر</h3>
                              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                      </a>
                        
                      <a href="">
                        <div class="slide" id="slide14">
                            <img src="{% static 'images/world2.jpg' %}">
                            <div class="news_details">
                              <h3>عنوان خبر</h3>
                              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                        </div>
                      </a>

                    </div>
                </div>
            </div>
          </section>



          <section class="slider slider2">
            <div class="main_container">
                <div class="slide_container" id="slide_container2">
                    <div id="slides">

                        <a href="">
                          <div class="slide" id="slide21">
                              <img src="{% static 'images/politics9.jpg' %}">
                              <div class="news_details">
                                <h3>عنوان خبر</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                              </div>
                          </div>
                        </a>

                        <a href="">
                          <div class="slide" id="slide22">
                              <img src="{% static 'images/sport6.jpg' %}">
                              <div class="news_details">
                                <h3>عنوان خبر</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                              </div>
                          </div>
                        </a>

                        <a href="">
                          <div class="slide" id="slide23">
                              <img src="{% static 'images/world9.jpg' %}">
                              <div class="news_details">
                                <h3>عنوان خبر</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                              </div>
                          </div>
                        </a>

                        <a href="">
                          <div class="slide" id="slide24">
                              <img src="{% static 'images/entertainment1.jpg' %}">
                              <div class="news_details">
                                <h3>عنوان خبر</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                              </div>
                          </div>
                        </a>

                    </div>
                </div>
            </div>
          </section>


          <!-- <div class="top-news">
    
            <section class="latest-news">
              <div class="headline">
                <p>خبر فوری</p>
                <a href="article.html">
                  <h1>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h1>
                </a>
              </div>
            </section> End of class="latest-news"
    
          </div> End of class="top-news" -->
          

          <!-- <section class="top-stories">
            <div class="headline headline-1">
              <a href="#">
                <h1>لورم ایپسوم متن ساختگی</h1>
              </a>
            </div>
            <div class="headline headline-2">
              <a href="#">
                <h1>لورم ایپسوم متن ساختگی</h1>
              </a>
            </div>
  
            <div class="headline headline-3">
              <a href="#">
                <h1>لورم ایپسوم متن ساختگی</h1>
              </a>
            </div>
          </section> End of class="top-stories" -->
          
    
          <section class="news" id="container">
            <h2 class="content_color2"></h2>
            <div class="story">
              <a href="#">
                <div class="story-img">
                  <img src="{% static 'images/business4.jpg' %}" alt="news">
                </div>
                <div class="story-headline">
                  <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                  <p class="exact-time color_b">13:53</p>
                </div>
              </a>
            </div>

            <div class="story">
              <a href="#">
                <div class="story-img">
                  <img src="{% static 'images/world2.jpg' %}" alt="news">
                </div>
                <div class="story-headline">
                  <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                  <p class="exact-time color_b">13:53</p>
                </div>
              </a>
            </div>

            <div class="story">
              <a href="#">
                <div class="story-img">
                  <img src="{% static 'images/world2.jpg' %}" alt="news">
                </div>
                <div class="story-headline">
                  <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                  <p class="exact-time color_b">13:53</p>
                </div>
              </a>
            </div>

            <div class="story">
              <a href="#">
                <div class="story-img">
                  <img src="{% static 'images/politics2.jpg' %}" alt="news">
                </div>
                <div class="story-headline">
                  <h3 class="color_b">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h3>
                  <p class="exact-time color_b">13:53</p>
                </div>
              </a>
            </div>
    
          </section> <!-- End of class="more" -->
    
        </main> <!-- End of class="main" -->
    
    
        <!-- Footer Links -->
        <div class="footer-links content_color1">
    
          <ul class="social-media-links">
            <li><a href="http://twitter.com"><span class="screen-reader-text">توییتر</span></a></li>
            <li><a href="http://facebook.com"><span class="screen-reader-text">فیسبوک</span></a></li>
            <li><a href="http://linkedin.com"><span class="screen-reader-text">لینکداین</span></a></li>
            <li><a href="http://youtube.com"><span class="screen-reader-text">یوتیوب</span></a></li>
            <li><a href="http://instagram.com"><span class="screen-reader-text">اینستاگرام</span></a></li>
          </ul>
    
          <ul class="main-footer-links">
            <li><a href="#world" title="World">بین الملل</a>
            <li><a href="#politics" title="Politics">سیاست</a></li>
            <li><a href="#business" title="Business">اقتصاد</a></li>
            <li><a href="#sport" title="Sport">ورزش</a></li>
            <li><a href="#entertainment" title="Entertainment">محلی</a></li>
            <li><a href="#science" title="Science">پژوهش</a></li>
            <li><a href="#travel" title="Travel">گردشگری</a></li>
            <li><a href="#health" title="Health">سلامت</a></li>
            <li><a href="#style" title="Style">استایل</a></li>
            <li><a href="#weather" title="Weather">آب و هوا</a></li>
            <li><a href="#video" title="Video">گالری</a></li>
          </ul>
    
          <ul class="info-links">
            <li><a href="#terms-of-use" title="Terms of Use">همکاری</a></li>
            <li><a href="#privacy-policy" title="Privacy Policy">سیاست های حریم خصوصی</a></li>
            <li><a href="#about-us" title="About Us">درباره ما</a></li>
            <li><a href="#advertising" title="Advertising">تبلیغات</a></li>
          </ul>
    
          <ul class="our-address">
            <li>آدرس ما</li>
            <li>سوادکوه، زیرآب</li>
            <li>امامزاده عبدالحق، پلاک ۱</li>
            <li>۱۲۳-۴۵۶-۷۸۹</li>
          </ul>
    
        </div> <!-- End of class="footer-links" -->
    
        <!-- Footer Credit -->
        <footer class="content_color2" role="contentinfo">
          <p class="content_color2">2024 &copy; by Sajad & Abolfazl</p>
          <a class="scroll-top" href="#top"></a>
        </footer>
    
    </div> <!-- end of class="content-wrap" -->
    
      <!-- <script src="js/modernizr.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    
</body>
</html>