{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>گردشگری</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body id="top" class="body_color">
    <div class="content-wrap main_color">
    
        <!-- Header -->
        <header role="banner">
    
          <section class="nav-section content_color1">
    
            <!-- Logo -->
            <div class="logo">
              <a href="{% url 'home_page' %}" title="Frivizn logo">گردشگری</a>
            </div>
    
            <div id="DL_mode" class="bg_white">
              <div id="DL_btn" class="bg_black">
                  <img id="DL_status" src="{% static 'images/light.png' %}" alt="">
              </div>
            </div>
            <!-- Navigation -->
            <nav class="nav-menu" role="navigation">
              <ul class="nav-links">
                <li><a href="{% url 'home_page' %}" title="Home">خانه</a></li>
                <li><a href="{% url 'politics-page' %}" title="Politics">سیاست</a></li>
                <li><a href="{% url 'world-page' %}" title="Business">بین الملل</a></li>
                <li><a href="{% url 'sport-page' %}" title="Sport">ورزش</a></li>
                <li><a href="{% url 'local-page' %}" title="Entertainment">محلی</a></li>
                <li>
                  <a title="More">بیشتر...<span class="dropdown-toggle" aria-expanded="false"></span>
                    <span class="screen-reader-text">Expand child menu</span></a>
                  <ul class="sub-menu">
                    <li><a href="{% url 'economy-page' %}" title="Business">اقتصاد</a></li>
                    <li><a href="{% url 'science-page' %}" title="Science">پژوهش</a></li>
                    <li><a href="{% url 'health-page' %}" title="Health">سلامت</a></li>
                    <li><a href="{% url 'style-page' %}" title="Style">استایل</a></li>
                    <li><a href="{% url 'weather-page' %}" title="Weather">آب و هوا</a></li>
                    <li><a href="{% url 'gallery-page' %}" title="Video">گالری</a></li>
                  </ul>
                </li>
              </ul>
              <div class="burger">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
              </div>
            </nav>
          </section> <!-- end of class="nav-section"-->
    
        </header>
    
        <!-- Main -->
        <main class="main" role="main">
    

          <section class="slider">
            <div class="main_container">
                <div class="slide_container" id="slide_container">
                    <div id="slides" class="slides">

                      {% for new in news %}
                        {% if new.slide_show %}
                          <a href="{% url 'article-detail' pk=new.id  %}">
                            <div class="slide" id="slide11">
                                <img src="{{ new.cover_image.url }}">
                                <div class="news_details">
                                  <h3>{{ new.title }}</h3>
                                  <p>{{ new.created_at }}</p>
                                </div>
                            </div>
                          </a>
                        {% endif %}
                      {% endfor %}

                    </div>
                </div>
            </div>
          </section>

            
          <section class="news" id="container">
            <h2 class="content_color2"></h2>

          
            {% for new in news %}
                <div class="story">
                  <a href="{% url 'article-detail' pk=new.id  %}">
                    <div class="story-img">
                {% if new.cover_image %}
                    <img src="{{ new.cover_image.url }}" alt="">
                {% else %}
                    <img src="{% static 'images/business4.jpg' %}" alt="news">
                {% endif %}
                    </div>
                    <div class="story-headline">
                      <h3 class="color_b">{{ new.title }}</h3>
                      <p class="exact-time color_b">{{ new.created_at }}</p>
                    </div>
                  </a>
                </div>
            {% endfor %}

            
          </section> <!-- End of class="more" -->
    
        </main> <!-- End of class="main" -->
    
    
        <!-- Footer Links -->
        <div class="footer-links content_color1">
    
          <ul class="social-media-links" style="align-items: center;">
            <li><a href="http://twitter.com"><img src="{% static 'images/twitter.png' %}" alt=""><span class="screen-reader-text">توییتر</span></a></li>
       	    <li><a href="http://facebook.com"><img src="{% static 'images/facebook.png' %}" alt=""><span class="screen-reader-text">فیسبوک</span></a></li>
            <li><a href="http://linkedin.com"><img src="{% static 'images/linkedin.png' %}" alt=""><span class="screen-reader-text">لینکداین</span></a></li>
            <li><a href="http://youtube.com"><img src="{% static 'images/youtube.png' %}" alt=""><span class="screen-reader-text">یوتیوب</span></a></li>
            <li><a href="http://instagram.com"><img src="{% static 'images/instagram.png' %}" alt=""><span class="screen-reader-text">اینستاگرام</span></a></li>
          </ul>
    
          <ul class="main-footer-links">
            <li><a href="{% url 'home_page' %}" title="Home">خانه</a></li>
            <li><a href="{% url 'world-page' %}" title="world">بین الملل</a></li>
            <li><a href="{% url 'politics-page' %}" title="Politics">سیاست</a></li>
            <li><a href="{% url 'economy-page' %}" title="Business">اقتصاد</a></li>
            <li><a href="{% url 'sport-page' %}" title="Sport">ورزش</a></li>
            <li><a href="{% url 'local-page' %}" title="Entertainment">محلی</a></li>
            <li><a href="{% url 'science-page' %}" title="Science">پژوهش</a></li>
            <li><a href="{% url 'travel-page' %}" title="Travel">گردشگری</a></li>
            <li><a href="{% url 'health-page' %}" title="Health">سلامت</a></li>
            <li><a href="{% url 'style-page' %}" title="Style">استایل</a></li>
            <li><a href="{% url 'weather-page' %}" title="Weather">آب و هوا</a></li>
            <li><a href="{% url 'gallery-page' %}" title="Video">گالری</a></li>
          </ul>
    
          <ul class="info-links">
            <li><a href="{% url 'about_page' %}" title="About Us">درباره ما</a></li>
          </ul>
    
          <ul class="our-address">
            <li>آدرس ما</li>
            <li>سوادکوه، زیرآب</li>
            <li>امامزاده عبدالحق، پلاک ۱</li>
            <li>۱۲۳-۴۵۶-۷۸۹</li>
          </ul>
    
        </div> <!-- End of class="footer-links" -->
    
        <!-- Footer Credit -->
        <footer class="content_color2" role="contentinfo">
          <p class="content_color2">2024 &copy;تمامی حقوق برای خبرگذاری مستقل عصرسوادکوه محفوظ است</p>
          <a class="scroll-top" href="#top"></a>
        </footer>
    
    </div> <!-- end of class="content-wrap" -->
    
      <!-- <script src="js/modernizr.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    
</body>
</html>